<h1><%= @user.name %>さんのページです。</h1>
<%# フォロー数、フォロワー数 %>
<section class="stas">
  <%= render 'shared/follow_stats' %>
</section>

<%# ユーザーID %>
<div>
  <p>user_id</p>
  <%= @user.id %>
</div>

<%# 勝敗数（それぞれを勝った議論一覧と負けた議論一覧へのリンクにする） %>
<section class="stas">
  <%= render 'shared/winorlose_stats' %>
</section>

<%# フォロー関係 %>
<%= render 'follow_form' if user_signed_in?  %>


<%# これらはタブにする %>
<%# likeした議論一覧 %>
<h2>likeした議論一覧</h2>
<% @user.liked_debates.each do |debate| %>
  <tr>
    <td>
      <%= link_to debate.agenda, debate %>
    </td>
    <td>
      <%= debate.created_user_id %>
    </td>
  </tr>
<% end %>
<%# 作成した議論一覧 %>
<h2>作成した議論一覧</h2>
<% Debate.where(created_user_id: @user.id).each do |debate| %>
  <tr>
    <td>
      <%= link_to debate.agenda, debate %>
    </td>
    <td>
      <%= debate.created_user_id %>
    </td>
  </tr>
<% end %>
<%# 参加した議論一覧 %>
<h2>参加した議論一覧</h2>
<% Debate.where(joined_user_id: @user.id).each do |debate| %>
  <tr>
    <td>
      <%= link_to debate.agenda, debate %>
    </td>
    <td>
      <%= debate.created_user_id %>
    </td>
  </tr>
<% end %>
<%# 参加中の議論一覧（created_user_idかjoinned_user_idにidがあって、かつ、finished_atがnilのdebateの集合） %>

