<% provide(:title, @title) %>
<div class="mx-auto w-2/4 border-r border-l border-black">
  <div class="border-b border-black ">
    <div class="mr-3 ml-3 mb-3">
      <div class="">
        <div><%= @user.name %></div>
        <div><%= link_to "view my profile", @user %></div>
      </div>
      <div class="stats">
        <%# WinOrLoseStatsComponent %>
        <%= render(WinOrLoseStatsComponent.new(user: @user)) %>
      </div>
    </div>
  </div>
  <div class="">
    <div><%= @title %></div>
    <% if @debates.any? %>
      <ul class="users winorlose">
        <%# DebateComponent %>
        <%= render(DebateComponent.with_collection(@debates)) %>
      </ul>
    <% end %>
  </div>
</div>
