<% provide(:title, @title) %>
<div class="mx-auto w-2/4">
  <div class="border-r border-b border-l border-gray-400">
    <div class="user_info">
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
    </div>
    <section class="stats">
      <%= render 'shared/winorlose_stats' %>
    </section>
  </div>
  <div class="">
    <h3><%= @title %></h3>
    <% if @debates.any? %>
      <ul class="users winorlose">
        <% @debates.each do |debate| %>
          <div>
            <%= render partial: 'debates/debate', locals: {debate: debate} %>
          </div>
        <% end %>
      </ul>
      <%= paginate @debates %>
    <% end %>
  </div>
</div>
