<% provide(:title, @title) %>
<div class="mx-auto w-2/4 border-r border-b border-l border-black">
  <div class="border-b border-black">
    <div class="mr-3 ml-3 mb-3">
      <div class="">
        <div><%= @user.name %></div>
        <div><%= link_to "view my profile", @user %></div>
      </div>
      <div class="stats">
        <%# FollowStatsComponent %>
        <%= render(FollowStatsComponent.new(user: @user)) %>
      </div>
    </div>
  </div>
  <div class="">
    <div class="m-3"><%= @title %></div>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
          <div class="m-3 hover:underline">
            <%= link_to user.name, user %>
          </div>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
