<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
    </section>
    <section class="stats">
      <%= render 'shared/winorlose_stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @debates.any? %>
      <%# partialにする %>
      <ul class="users winorlose">
        <% @debates.each do |debate| %>
          <div>
            <%= render partial: 'debates/debate', locals: {debate: debate} %>
          </div>
        <% end %>
      </ul>
      <%= paginate @debates %>
    <% end %>
  </div>
</div>
