<div class="max-w-xl w-full ">
  <div class="border-r border-b border-l border-gray-400  bg-white rounded-b  p-4 flex flex-col justify-between leading-normal mx-auto">
    <%# 作成者 %>
    <div class="flex items-center">
      <div class="text-sm flex gap-x-3">
        <%# image %>
        <%= image_tag "ayatsuji2.jpg", class: "w-10 h-10 rounded-full"%>
        <p class="text-gray-900 leading-none  mt-4"><%= User.find(debate.created_user_id).name%></p>
        <p class="text-gray-600  mt-4"><%= time_ago_in_words(debate.created_at) %></p>
      </div>
    </div>
    <%# 参加者 %>
    <% if !(debate.joined_user_id.nil?) %>
    <div class="flex items-center">
      <div class="text-sm  flex gap-x-3">
        <%# image %>
        <%= image_tag "ayatsuji2.jpg", class: "w-10 h-10 rounded-full"%>
        <p class="text-gray-900 leading-none mt-4"><%= User.find(debate.joined_user_id).name %></p>
        <p class="text-gray-600 mt-3"><%= time_ago_in_words(debate.started_at) %></p>
      </div>
    </div>
    <% end %>
    <%# 議論のステータス %>
    <div class="flex items-center">
      <div class="text-sm">
        <%= debate.status %>
      </div>
    </div>
    <%# 議題 %>
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2"><%= link_to debate.agenda, debate %></div>
    </div>
    <%# いいね %>
    <div>
      <%= render partial: "likes/like", locals: {debate: debate} %>
      <div>
        <%= button_to '削除', debate_path(debate), method: :delete %>
      </div>
    </div>
  </div>
</div>
