<div class="mx-auto hover:bg-slate-200">
  <div class="border-b border-black flex leading-normal">
    <%# 左 %>
    <div class="flex flex-col p-1 w-1/6">
      <%# 作成者のimage %>
      <%= image_tag "ayatsuji2.jpg", class: "w-10 h-10 p-2 mx-auto rounded-full"%>
      <%# 参加者のimage %>
      <%= image_tag "ayatsuji2.jpg", class: "w-10 h-10 p-2 mx-auto rounded-full"%>
    </div>
    <%# 右 %>
    <div class="flex flex-col grow pr-2">

      <%# 作成者 %>
      <div class="flex">
        <div class="text-sm flex gap-x-3">
          <p class="text-gray-900 leading-none hover:underline mt-4"><%= link_to User.find(debate.created_user_id).name, User.find(debate.  created_user_id) %></p>
          <p class="text-gray-600  mt-4"><%= time_ago_in_words(debate.created_at) %></p>
        </div>
      </div>
      <%# 参加者 %>
      <% if !(debate.joined_user_id.nil?) %>
      <div class="flex">
        <div class="text-sm  flex gap-x-3">
          <p class="text-gray-900 leading-none hover:underline mt-4"><%= link_to User.find(debate.joined_user_id).name, User.find(debate. joined_user_id) %></p>
          <p class="text-gray-600 mt-3"><%= time_ago_in_words(debate.started_at) %></p>
        </div>
      </div>
      <% end %>
      <%# 議論のステータス %>
      <div class="flex items-center">
        <div class="text-sm">
          <%= debate.status %>
        </div>
      </div>
      <%# 参加者募集中かどうか %>
      <div class="flex items-center">
        <%= debate.wanted? %>
      </div>
      <%# 議題 %>
      <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2 hover:underline"><%= link_to debate.agenda, debate %></div>
      </div>
      <%# 下の方 %>
      <div class="flex bottom-0 justify-between">
        <%# いいね %>
        <div>
          <%= render partial: "likes/like", locals: {debate: debate} %>
        </div>
        <%# 削除 %>
        <div>
          <%= button_to '削除', debate_path(debate), method: :delete %>
        </div>
        <%# 共有（機能はまだ） %>
        <div>
          <i class="fa-solid fa-share fa-lg"></i>
        </div>
      </div>
    </div>
  </div>
</div>
