<h1>議論一覧</h1>

<%# 検索 %>
<%= search_form_for @q do |f| %>
  <%= f.label :name, "Keyword" %>
  <%= f.search_field :agenda_cont, placeholder: '議題' %>

  <%= f.submit "検索" %>
<% end %>


<table>
  <thead>
    <tr>
      <th>
        <%= sort_link(@q, :agenda, "agenda") %>
      </th>
      <th>
        created_user_id
      </th>
      <th>
        joined_user_id
      </th>
    </tr>
  </thead>
  <tbody>
    <% @debates.each do |debate| %>
      <tr id="debate_<%= debate.id %>" >
        <%= render 'debate', debate: debate %>
      </tr>
    <% end %>
  </tbody>
</table>
