<h1>議論一覧</h1>

<%# 検索 %>
<%= search_form_for @q do |f| %>
  <%= f.label :name, "Keyword" %>
  <%= f.search_field :agenda_cont, placeholder: '議題' %>

  <%= f.submit "検索" %>
<% end %>


<table class="table-auto">
  <thead>
    <tr>
      <th class="border px-4 py-2">
        <%= sort_link(@q, :agenda, "agenda") %>
      </th>
      <th class="border px-4 py-2">
        created_user_id
      </th>
      <th class="border px-4 py-2">
        joined_user_id
      </th>
      <th class="border px-4 py-2">
        status
      </th>
      <th class="border px-4 py-2">
        削除（仮）
      </th>
      <th class="border px-4 py-2">
        編集（仮）
      </th>
      <th class="border px-4 py-2">
        いいね（仮）
      </th>
      <th class="border px-4 py-2">
        いいね数（仮）
      </th>
      <th class="border px-4 py-2">
        投稿からの時間（仮）
      </th>
    </tr>
  </thead>
  <tbody>
    <% @debates.each do |debate| %>
      <tr class="border border px-4 py-2" id="debate_<%= debate.id %>">
        <%= render 'debate', debate: debate %>
      </tr>
    <% end %>
  </tbody>
</table>
