<h1>議論一覧</h1>

<%# 検索 %>
<%= search_form_for @q do |f| %>
  <%= f.label :name, "Keyword" %>
  <%= f.search_field :agenda_cont, placeholder: '議題' %>

  <%= f.submit "検索" %>
<% end %>

<%# 議論一覧 %>
<% @debates.each do |debate| %>
  <%= render 'debate', debate: debate %>
<% end %>

