<div class="relative">
  <div class="flex mb-10">
    <%# 左のサイドバー %>
    <div class="w-1/4 sticky top-0 h-full">
      <div class="float-right mr-3">
        <%# いいね %>
        <div id="debate_<%= @debate.id %>">
          <%= render partial: "likes/like", locals: {debate: @debate} %>
        </div>
        <%# tweet（機能はまだ） %>
        <div>
          <i class="fa-brands fa-twitter fa-2x "></i>
        </div>
        <%# 共有（機能はまだ） %>
        <div>
          <i class="fa-solid fa-share fa-lg"></i>
        </div>
      </div>
    </div>
    <%# メイン %>
    <div id="debate-container" class="w-2/4 mx-3 border-r border-l border-black">
      <div class="border-b border-black">
        <div class="mr-3 ml-3 mb-3">
          <div>
            <h2>議論作成者</h2>
            <%= link_to @debate.createdUser.name, @debate.createdUser, class: "hover:underline" %>
          </div>
          <div>
            <h2>議論参加者</h2>
            <% if @debate.isStarted? %>
              <%= link_to @debate.joinnedUser.name, @debate.joinnedUser, class: "hover:underline" %>
            <% end %>
          </div>
          <div>
            <h2>議題</h2>
            <%= @debate.agenda %>
          </div>
        </div>
      </div>

      <%# 議論欄  %>
      <h2>議論</h2>
      <div id='conversations' class="w-full" >
        <%= render partial: 'debates/conversation', collection: @conversations %>
      </div>

      <%# comment欄、comment入力フォーム(議論終了後にのみ表示) conversationの下に表示する %>
      <% if @debate.status == "after_vote" %>
        <%# コメント欄 %>
        <h2>コメント</h2>
        <%= render partial: 'debates/comment', collection: @comments %>
      <% end %>

      <h2>
      <%# js側で投票のステージを挿入、削除して管理する %>
      <div id="debate_status">
        <%= @debate.status %>
      </div>
      </h2>

      <%# フッター %>
      <div class=" bottom-0 w-full text-center mb-6 sticky">
        <%# conversationの入力フォーム %>
        <%# 議論入力フォーム（議論中、議論参加者にしか表示されない %>
        <% if @debate.debating_user?(current_user) and !@debate.isFinished? %>
          <form name="conversationform" id="conversation-form">
            <div>
              <input type="text" id="conversation-text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg     focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="議論を入力してください">
            </div>
            <%# ボタンをクリックで送信でなく、Enter入力で入力に直す（空白でenterしても入力しない） %>
            <div>
              <input type="button" id="conversation-btn" value="送信">
            </div>
          </form>
        <% end %>
        <%# コメントの入力フォーム %>
        <%# comment欄、comment入力フォーム(議論終了後にのみ表示) %>
        <% if @debate.status == "after_vote" %>
          <%= form_with model: @comment, local: true do |f| %>
            <%= f.text_field :content, id: 'comment_content', class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: "コメントを入力してください" %>
          <% end %>
        <% end %>
      </div>

    </div>
    <%# 右のサイドバー %>
    <div class="w-1/4 sticky top-0 h-full">
      <div class="m-2">
        <%# 参加者が揃っているとき、つまり議論開始後、議論参加者のみに表示 %>
        <% if @debate.isStarted? and @debate.debating_user?(current_user) %>
          <%# 勝敗がついているかどうかで降参、投票ボタンが表示されるかどうかが決まる %>
          <% if !@debate.isFinished? and @debate.status == "before_vote" %>
            <%# 降参ボタン %>
            <%= button_to "降参", debates_surrender_path(@debate), method: :get, data: { confirm: '本当に降参しますか？' },
            class: "text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg   text-sm px-5 py-2.5 mr-2 mb-2" %>
          <% end %>
        <% end %>

        <%# 投票中 以下ボタン表示 %>
        <% if @debate.status == 'voting' %>
          <%# 議論参加者と観戦者で表示を分ける %>
          <% if @debate.debating_user?(current_user) %>
            <h2>投票中</h2>
          <% else %>
            <% if !(Vote.where(debate_id: @debate.id, voted_user_id: current_user.id).nil?) %>
              <%# 参加者のどちらかへの投票ボタン すでに投票した観戦者には表示しない%>
              <%= button_to User.find(@debate.created_user_id).name , debates_vote_created_path(@debate), method: :get, class:  "text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg   text-sm px-5 py-2.5 mr-2 mb-2" %>
              <%= button_to User.find(@debate.joined_user_id).name , debates_vote_joined_path(@debate), method: :get, class: "text-white  bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
            <% else %>
              <h2>投票済み</h2>
            <% end %>
          <% end %>
        <% end %>

        <%# 勝敗がついたときのみ表示 %>
        <% if @debate.isFinished? %>
          <%# 勝者と敗者の表示 %>
          <h2>Winner</h2>
          <%= link_to @debate.winUser.name, @debate.winUser, class: "hover:underline" %>
          <h2>Loser</h2>
          <%= link_to @debate.loseUser.name, @debate.loseUser, class: "hover:underline" %>
        <% end %>

        <%# 投票終了後 途中経過グラフ表示 議論参加者には表示しない %>
        <% if !(@vote.nil?) and @debate.debating_user?(current_user) and @debate.status != 'after_vote' %>
          <%# グラフ %>
          <%= pie_chart @data%>
        <% end %>

        <%# 全体の投票終了後 グラフ表示 %>
        <% if @debate.status == "after_vote" and @debate.isFinished? %>
          <% if @debate.status == 'after_vote' %>
            <%# グラフ %>
            <%= pie_chart @data %>
          <% end %>
        <% end %>

        <%# 投票後は表示しない %>
        <% if @debate.status != "after_vote" %>
          <div id="remainingtime">
            <%= render 'debates/timelimit'%>
          </div>
        <% end %>

        <%# 議論が始まっているかつ投票前 制限時間の選択 議論参加者のみに表示 %>
        <% if @debate.isStarted? and @debate.debating_user?(current_user) and @debate.status == 'before_vote' %>
          <%# 投票の制限時間を選択 %>
          <div id="vote-form">
            <%# ajaxを使う場合は、local: false にする %>
            <%= form_with url: debates_vote_start_path, method: :get, local: true do |f| %>
              <div class="">
                <%= f.select :limit, [['1分', 60000], ['5分', 300000]],  { include_blank: '制限時間を選択してください'}, { class:     'form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  focus:border-blue-500 my-3 py-auto pr-7 inline-block'  ,    required: true } %>
              </div>
              <div>
                <%= f.submit '投票開始', id: 'vote-start-btn', class: 'text-white bg-gray-800 hover:bg-gray-900 focus:outline-none  focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5', data: { confirm: '本当に投票を開始しますか？ ' }%>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

