<div>
  <p>議論作成者</p>
  <%= link_to User.find(@debate.created_user_id).name, User.find(@debate.created_user_id) %>
</div>

<div>
  <p>議論参加者</p>
  <% if @debate.joined_user_id != nil %>
    <%= link_to User.find(@debate.joined_user_id).name, User.find(@debate.joined_user_id) %>
  <% end %>
</div>
<div>
  <p>agenda</p>
  <%= @debate.agenda %>
</div>

<h1>議論</h1>
<div id='conversations' data-debate_id="<%= @debate.id %>" >
  <%= render partial: 'debates/conversation', collection: @conversations %>
</div>
<%# 議論入力フォーム（議論中、議論参加者にしか表示されない） フッターに表示する %>
<% if current_user.id == @debate.created_user_id or current_user.id == @debate.joined_user_id and @debate.finished_at == nil %>
  <form name="conversationform" id="conversation_form">
    <label>Say something:</label><br>
    <div>
      <input type="text" id="conversation-text">
    </div>
    <div>
      <input type="button" id="conversation-btn" value="送信">
    </div>
  </form>
<% end %>

<h2>
<%= @debate.status %>
</h2>

<div>
<%# 参加者が揃っているときに表示 %>
<% if @debate.joined_user_id != nil %>
  <%# 勝敗がついているかどうかで降参、投票ボタンが表示されるかどうかが決まる %>
  <% if @debate.WinOrLose.nil? and @debate.status == "before_vote" %>
    <%# 降参ボタン %>
    <%= button_to "降参", debates_surrender_path(@debate), method: :get %>
    <%# 投票開始ボタン（制限時間を選べる） %>
    <%= button_to "投票", debates_vote_start_path(@debate), method: :get %>
    <select name="time-limit">
      <option value="">制限時間を選択</option>
      <option value="1">1分</option>
      <option value="5">5分</option>
    </select>
  <% elsif @debate.status != "before_vote" %>
    <%# なにも表示しない %>
  <% else %>
    <%# 勝者と敗者の表示 %>
    <h2>Winner</h2>
    <%= User.find(@debate.WinOrLose.winner_id).name %>
    <h2>Loser</h2>
    <%= User.find(@debate.WinOrLose.loser_id).name %>
  <% end %>
<% end %>
</div>

<%# 投票中 以下ボタン表示 %>
<% if @debate.status == 'voting' %>
  <%# 議論参加者と観戦者で表示を分ける %>
  <% if current_user.id == @debate.created_user_id or current_user.id == @debate.joined_user_id %>
    <h2>投票中</h2>
  <% else %>
    <%# 参加者のどちらかへの投票ボタン %>
    <%= button_to User.find(@debate.created_user_id).name , debates_vote_created_path(@debate), method: :get %>
    <%= button_to User.find(@debate.joined_user_id).name , debates_vote_joined_path(@debate), method: :get %>
  <% end %>
<% end %>

<%# 投票終了後 途中経過グラフ表示 議論参加者には表示しない %>
<% if !(@vote.nil?) and  current_user.id != @debate.created_user_id and current_user.id != @debate.joined_user_id and @debate.status != 'after_vote' %>
  <%= pie_chart [['赤', 50], ['青', 50]]%>
<% end %>

<%# 全体の投票終了後 グラフ表示 %>
<% if @debate.status == "after_vote" and @debate.finished_at != nil %>
  <% if @debate.status == 'after_vote' %>
    <%= pie_chart [['赤', 50], ['青', 50]]%>
  <% end %>
<% end %>

<%= pie_chart @data %>




